 <h2 class="page-header">My Profile</h2>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="section">
    <div class="row">
        <div class="col-md-3">
           <h2>My Intro</h2>
           <img src="t.png"width="42">
           <h5><strong>Name: </strong>Golam Rabbani</h5>
           <h5><strong>Education: </strong>CSE at Daffodil International University</h5>
           <h5><strong>Exprience: </strong>JavaScript, Node.js, AngularJs,Python,Django</h5>
           <h5><strong>Email: </strong>rabbanisarkar15204@gmail.com</h5>

        </div>

        <div class=col-md-5>
         <h3>Social Links</h3>

                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/rabbani.sarkar.543" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/God_fidence/status/857310516334649345" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rabbani-sarkar-704b74111/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>			



        </div>

        <div class="col-md-3">
        <h2>Some Projects</h2>
           <ul>
                 <li><a href="https://github.com/rabbani204" class="icoFacebook" title="Github"><i class="fa fa-github"></i></a></li>            
           </ul>
        </div>
    </div>

</div>